@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");
body {
  margin: 0;
    padding: 0;
  height: 100vh;
  background: #271F1A;
  font-family: 'Montserrat';
  display: grid;
  grid-template-rows: 25% auto;
    color: #E0E0E0;
}

.background {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0; }

.header {
  color: #E0E0E0;
}

th {
    color: #E0E0E0;
    font-weight: bold;

}

#main_pg {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: -10px;
  font-size: 96px;
  position: absolute;
    margin: 0;
    padding-left: 39%;
    padding-top: 10%;

}

.right-txt {
  position: absolute;
padding-top: 2%;
    padding-left: 63%;
  text-align: center; }
  .right-txt h2 {
    font-weight: normal;
    font-size: 36px;
    letter-spacing: -1px; }
  .right-txt #btn {
    display: block;
    background-color: #B00000;
    width: 200px;
    font-weight: normal;
    font-size: 36px;
    letter-spacing: -1px;
    color: #E0E0E0;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 4px;
    box-shadow: 9px 4px 9px rgba(0, 0, 0, 0.5); }

.belowtitle {
    max-width: fit-content;
    max-height: max-content;
    position: absolute;
    width: 700px;
    height: 57px;
    left: 250px;
    top: 300px;
}

.belowtitle tr {
    max-height: fit-content;
}

.title {
    position: absolute;

    height: 70px;
    left: 250px;
    top: 250px
}


.message {
    width: fit-content;
}

.answers {
    padding: 14px 16px;
    background-color: rgba(255, 255, 255, 0.1);
    min-height: 50px;
    border-radius: 5px;
    font-size: 15px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    display: grid;
    }

.listpg{
    grid-template-columns: auto auto auto auto auto auto auto;
    font-weight: bold;
}

.mainpg {
    grid-template-columns: 20% auto;
}

#mainbtn{
    padding: 15px;
    font-weight: bold;
}

.navbar.sorting{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0;
    padding: 0;
}

h4 {
    margin: 0;
    padding: 0;
}

.btnn {
    padding: 0;
    margin: 0;
}

.icon {
  display: inline-block;
  background-size: cover;
        height: 20px;
    margin-left: 10px;
}

.icon-down:hover,
.icon-down:focus {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}


 .navbar a {
      float: left;
      font-size: 16px;
      color: #E0E0E0;
      text-align: center;
     padding: 2px 5px 2px 5px;
     vertical-align: center;
      text-decoration: none;
    }

 #add_q_link {
     padding-top: 15px;
 }

.hoverbtn:hover{
    background-color: #B00000;
    display: block;
}

.hoverbtn{
    display: block;
    padding-top: 20px;
}

.question-page {
  height: 100vh;
  margin-top: 5em; }
  .question-page .top-bar {

    color: #E0E0E0;
    font-weight: normal;
    padding: 1em;
    margin: 0; }
    .question-page .top-bar #title {
      text-transform: uppercase;
      text-align: center;
      font-size: 50px;
        padding-top: .5em;
        padding-bottom: .5em;
      margin: 0; }

  .question-page .question-bubbles {
    position: absolute;
    color: #E0E0E0;}
    .question-page .question-bubbles .single-bubble {
      background-color: rgba(255, 255, 255, 0.1);
      margin-top: 3em;
      border-radius: 4px;
    margin-left: 10em;
    margin-right: 10em; }
      .question-page .question-bubbles .single-bubble table tr .first-col {
        width: 100px;
        text-align: center;
        margin: 0;
      padding: 20px;
      vertical-align: top}
      .question-page .question-bubbles .single-bubble table {
        border-spacing: 0;}
      .question-page .question-bubbles .single-bubble td {
        padding: 0;
        margin: 0;
          vertical-align: top
        }
      .question-page .question-bubbles .single-bubble .question-title {
        font-weight: bold;
      padding-top: 20px}

      .question-page .question-bubbles .single-bubble .question-title a {
          text-decoration: none;
          color: #E0E0E0;
      }

      .question-page .question-bubbles .single-bubble .message {
      padding-top: 1em;
          padding-right: 2em;
          width: 100%;
      }
      .question-page .question-bubbles .single-bubble .bubble-image {
        height: 200px;
        border-radius: 4px;
}

.add_qora{
    text-align: center;
}

#display_header {
    left: 0px;
    top: 0px;
    font-size: 25px;
  }
#display_navbar {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-weight: bold;

}

#display_navbar a {
    float: left;
    font-size: 16px;
    color: #E0E0E0;
    text-align: center;
    padding: 10px 20px 10px 20px;
    vertical-align: center;
    text-decoration: none;
}

.add_qora h1 {
    padding-top: 2em;
    padding-bottom: 1em;
    margin: 0;
    position: relative;
    height: 2em;
    vertical-align: center;
    text-transform: uppercase;
}

.add_qora textarea{
    color: #E0E0E0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    border-color: #8E8D8A;
    border-style: hidden;
    width: 500px;
    padding: 5px;
    margin: 10px;
    box-shadow: 5px 4px 9px rgba(0, 0, 0, 0.3);
}


.add_qora input{
    color: #E0E0E0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    border-color: #8E8D8A;
    border-style: hidden;
    height: 25px;
    width: 500px;
    padding: 5px;
    margin: 10px;
    box-shadow: 5px 4px 9px rgba(0, 0, 0, 0.3);
}

.addbutton {
    padding: 6px 12px;
    border-radius: 4px;
    background-color: #B00000;
    color: #E0E0E0;
    border-style: none;
    text-transform: uppercase;
    box-shadow: 5px 4px 9px rgba(0, 0, 0, 0.3);
}


#display_navbar a:hover {
    background-color: #B00000;
    }
.display_question_bubble {
    display: block;
    background: rgba(255, 255, 255, 0.3);
    margin-top: 1em;
    border-radius: 8px;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 1em;
    padding: 10px;

}

.display_question_bubble td {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
}

.display_question_bubble td .disp_first_col{
    padding: 3em;
}

.display_answers_bubble {
    display: block;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 5px;
}

.display_answers_bubble table{
    width: 100%;
}

.display_answers_bubble td {
    font-size: 18px;
}

.display_comment_bubble {
    display: block;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 10px;
    margin-left: 35em;
    margin-right: 7em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.display_comment_bubble table {
    width: 100%;
    text-align: right;
}

.display_comment_bubble td {
    font-size: 15px;
}

.display_all_body {
    display: grid;
}

.display_answer_comment_bubble {
    display: block;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin-left: 40em;
    margin-right: 7em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 10px;
}

.comment-grid{
    display: grid;
    grid-template-columns: 60% 20% 20%;
    text-align: left;
}

.display_answer_comment_bubble td {
    font-size: 15px;
}

#question_title_size {
    font-size: 25px;
    color: orange;
    font-weight: bold;
    padding-left: 2em;
    padding-top: .5em;
}

.buttons{
    display: grid;
    grid-template-columns: auto auto;
}

.cancelbtn{
    font-size: 13px;
}

.leftbtn {
    text-align: right;
    margin-right: 3px;
}

.rightbtn{
    margin-top: 3px;
    margin-left: 3px;
    text-align: left;
}

.display_question_button a{
    display: block;
    background: rgba(255, 255, 255, 0.3);
    margin-top: 1em;
    border-radius: 8px;
    padding: 10px;
    width: 300px;
    text-align: center;
    margin-left: 70%;

}
.display_question_button a:hover {
    background-color: #B00000;
    display: grid;
    text-align: center;
    border-radius: 5px;
    vertical-align: center;
    text-decoration: none;


}

#display_navbar2 {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto;
    height: 40px;

}

#display_navbar2 a {
    float: left;
    font-size: 16px;
    color: #E0E0E0;
    text-align: center;
    padding: 10px 20px 10px 20px;
    vertical-align: center;
    text-decoration: none;
    width: 20em;
}

#display_navbar2 a:hover {
    background-color: #B00000;
    }

a {
    text-decoration: none;
    color: #E0E0E0;
    text-align: center;

}
#add_message {
    min-height: 16em;
}

.srch{
    border-style: none;
    border-radius: 4px;
    padding: 5px;
    margin: 10px 0px;
    color: #E0E0E0;
}

.searchbar {
    background-color: rgba(255, 255, 255, 0.2);
}

.searchbtn {
    background-color: rgba(255, 255, 255, 0.2);
}

.searchbtn:hover{
    background-color: #B00000;
}

.disp_first_col{
    padding: 2em;
}

.disp_vote_cell{
    padding-right: 3em;
    width: 4.5em;
}

.disp_btn {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    margin: 2px;
}

.disp_btn:hover {
    background-color: #B00000;
}

.table-btn {
        width: 4em;
}

.message-box {
    text-align: left;
}

.display_answer_comment_bubble table {
    width: 100%;
    text-align: right;
}

.answ_votes{
    width: 2em;
}

.logomate{
    padding-left: 1em;
}

.searchtitle {
    color: orange;
    font-weight: bold;
}