@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");
body {
  margin: 0;
    padding: 0;
  height: 100vh;
  background: #271F1A;
  font-family: 'Montserrat';
  display: grid;
  grid-template-rows: 25% auto;
    color: #E0E0E0;
}

.add_question{
    display: grid;
    grid-template-rows: 20% auto;
    text-align: center;
}

.add_question h1 {
    padding-top: 2em;
    margin: 0;
    position: relative;
    height: 2em;
}


.background {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0; }

.header {
  color: #E0E0E0;
}

th {
    color: #45A29E;
    font-weight: bold;

}

#main_pg {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: -10px;
  font-size: 96px;
  position: absolute;
    margin: 0;
    padding-left: 39%;
    padding-top: 10%;

}

.right-txt {
  position: absolute;
padding-top: 2%;
    padding-left: 63%;
  text-align: center; }
  .right-txt h2 {
    font-weight: normal;
    font-size: 36px;
    letter-spacing: -1px; }
  .right-txt #btn {
    display: block;
    background-color: #B00000;
    width: 200px;
    font-weight: normal;
    font-size: 36px;
    letter-spacing: -1px;
    color: #E0E0E0;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 4px;
    box-shadow: 9px 4px 9px rgba(0, 0, 0, 0.5); }




input{
    color: #E0E0E0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    border-color: #8E8D8A;
    border-style: hidden;
    height: 25px;
    width: 500px;
}

#add_title{
    text-align: left;
}

.answers input {
    font-weight: bold;
    background-color: #45A29E;
    color: #1F2833;
    height: 17px;
    font-size: 10px;
}

textarea{
    color: #E0E0E0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    border-color: #8E8D8A;
    border-style: hidden;
    width: 500px;
}


button{
    background-color: rgba(255, 255, 255, 0.1);
    color: #E0E0E0;
    font-weight: bold;
    border-radius: 5px;
    height: 25px;
    border-style: hidden;
}

.belowtitle {
    max-width: fit-content;
    max-height: max-content;
    position: absolute;
    width: 700px;
    height: 57px;
    left: 250px;
    top: 300px;
}

.belowtitle tr {
    max-height: fit-content;
}

.title {
    position: absolute;

    height: 70px;
    left: 250px;
    top: 250px
}


.message {
    width: fit-content;
}

.answers {
    padding: 14px 16px;
    background-color: #1F2833;
    min-height: 50px;
    border-radius: 5px;
    font-size: 15px;
}

.navbar {
      overflow: hidden;
      background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    }

.navbar.sorting{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0;
    padding: 0;
}

.navbar.sorting table {
    background-color: red;
}
h4 {
    margin: 0;
    padding: 0;
}

.btnn {
    padding: 0;
    margin: 0;
}

 .navbar a {
      float: left;
      font-size: 16px;
      color: #66FCF1;
      text-align: center;
     padding: 2px 5px 2px 5px;
     vertical-align: center;
      text-decoration: none;

    }

 #add_q_link {
     padding-top: 15px;
 }

    .navbar a:hover, .dropdown:hover {
      background-color: #45A29E;
    }

.question-page {
  height: 100vh;
  margin-top: 5em; }
  .question-page .top-bar {
    display: grid;
    grid-template-columns: 10% auto;
    color: #E0E0E0;
    font-weight: normal;
    padding: 1em;
    margin: 0; }
    .question-page .top-bar #title {
      text-transform: uppercase;
      text-align: center;
      font-size: 50px;
        padding-top: .5em;
        padding-bottom: .5em;
      margin: 0; }

  .question-page .question-bubbles {
    position: absolute;
    color: #E0E0E0;}
    .question-page .question-bubbles .single-bubble {
      background-color: rgba(255, 255, 255, 0.1);
      margin-top: 3em;
      border-radius: 4px;
    margin-left: 10em;
    margin-right: 10em; }
      .question-page .question-bubbles .single-bubble table tr .first-col {
        width: 100px;
        text-align: center;
        margin: 0;
      padding: 20px;
      vertical-align: top}
      .question-page .question-bubbles .single-bubble table {
        border-spacing: 0;}
      .question-page .question-bubbles .single-bubble td {
        padding: 0;
        margin: 0;
          vertical-align: top
        }
      .question-page .question-bubbles .single-bubble .question-title {
        font-weight: bold;
      padding-top: 20px}

      .question-page .question-bubbles .single-bubble .question-title a {
          text-decoration: none;
          color: #E0E0E0;
      }

      .question-page .question-bubbles .single-bubble .message {
      padding-top: 1em;
          padding-right: 2em;
          width: 100%;
      }
      .question-page .question-bubbles .single-bubble .bubble-image {
        height: 200px;
        border-radius: 4px;
}

#display_header {
    left: 0px;
    top: 0px;
    font-size: 25px;
  }
#display_navbar {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto;


}

#display_navbar a {
    float: left;
    font-size: 16px;
    color: #66FCF1;
    text-align: center;
    padding: 10px 20px 10px 20px;
    vertical-align: center;
    text-decoration: none;

}

#display_navbar a:hover {
    background-color: #45A29E;
    }