body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: #8E8D8A;
    background-color: #0B0C10;
    margin: 50px;
    padding: 0;
}

th {
    color: #45A29E;
    font-weight: bold;

}


h1 {
    color: deeppink;
    background-color: #1F2833;
    margin-bottom: 7px;
    padding: 32px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.5em;
    border-radius: 5px;
    font-size: 40px;
}

table {
    padding: 16px;
    text-align: left;
    color: #45A29E;
    background-color: #1F2833;
    width: 100%;
    alignment: center;
    border-radius: 5px;
    height: 10px;
    overflow: hidden;
  text-overflow: ellipsis;
}

a {
    font-weight: bold;
    color: #66FCF1;
    text-decoration: none;
}

input{
    color: #45A29E;
    background-color: #1F2833;
    border-radius: 5px;
    border-color: #8E8D8A;
    border-style: hidden;
    height: 25px;
}

.title .belowtitle input{
    font-weight: bold;
    background-color: #45A29E;
    color: #1F2833;
}

.answers input {
    font-weight: bold;
    background-color: #45A29E;
    color: #1F2833;
    height: 17px;
    font-size: 10px;
}

textarea{
    color: #45A29E;
    background-color: #1F2833;
    border-radius: 5px;
    border-color: #8E8D8A;
    border-style: hidden;
}


button{
    background-color: #1F2833;
    color: #45A29E;
    font-weight: bold;
    border-radius: 5px;
    border-color: #8E8D8A;
    height: 25px;
    border-style: hidden;
}

.title {
    padding: 14px 16px;
    text-align: left;
    color: #45A29E;
    background-color: #1F2833;
    border-radius: 5px;
}

.belowtitle {
    max-width: fit-content;
    max-height: max-content;
}

.belowtitle tr {
    max-height: fit-content;
}


.message {
    width: fit-content;
}

.answers {
    padding: 14px 16px;
    background-color: #1F2833;
    min-height: 50px;
    border-radius: 5px;
    font-size: 15px;
}

.navbar {
      overflow: hidden;
      background-color: #1F2833;
    border-radius: 5px;
    }

 .navbar a {
      float: left;
      font-size: 16px;
      color: #66FCF1;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .dropdown {
      float: left;
      overflow: hidden;
    }

    .dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: #66FCF1;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
        font-weight: bold;
      margin: 0;
    }

    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: #45A29E;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #8E8D8A;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }


    .dropdown-content a {
      float: none;
      color: #0B0C10;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    .dropdown-content a:hover {
        color: #C5C6C7;
      background-color: #45A29E;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }