<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new answer</title>
</head>
<body>
<h1><strong>Add Answer</strong></h1>
    <form action="/question/<question_id>" method="post">
        <p>
            <label for="message">Answer</label><br>
            <textarea name="message" id="message" cols="40" rows="4" placeholder="Enter your answer here"></textarea>
        </p>
        <p>
            <label for="image">Image</label><br>
            <input type="text" name="image" id="message" value="Put image link here">
        </p>
        <p>
            <button type="submit">Submit Answer</button>
        </p>
    </form>
</body>
</html>