<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add Answer</title>
        <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
    </head>
    <body>
        <div class="add_qora">
            <div class="titlerow">
                <h1>add answer</h1>
            </div>
            <div class="qaform">
                 <form action="/question/{{ question_id }}/new-answer" method="post">
                     <div class="addmessage">
                         <label id="add_message">Message:</label><br>
                         <textarea name="message" id="add_message" placeholder="Enter your answer here"></textarea>
                     </div>
                     <div class="addimage">
                         <label id="add_image">Image:</label><br>
                         <input type="text" name="image" placeholder="Image link">
                     </div>
                     <div class="buttons">
                         <div class="leftbtn"><button class="addbutton" type="submit">Submit answer</button></div>
                        <div class="rightbtn"><a class="addbutton cancelbtn" href="{{ url_for('route_question', question_id=question_id) }}">Cancel</a></div>
                     </div>
                 </form>
            </div>
        </div>
    </body>
</html>