<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Question</title>
</head>
<body>
    <form action="/add-question" method="post">
            <p>
                <label for="title">Title:</label><br>
                <input type="text" name="title" id="title" placeholder="Enter title here">
            </p>
            <p>
                <label for="message">Message:</label><br>
                <textarea name="message" id="message" cols="40" rows="4" placeholder="Enter your question here"></textarea>
            </p>
            <p>
                <label for="image">Image</label><br>
                <input type="text" name="image" id="message" placeholder="Put the image link here">
            </p>
        <p>
            <button type="submit">Submit Question</button>
        </p>
</body>
</html>