<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Question Page</title>
    <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">

</head>
<body>
<div id="display_header">
    <div><h1>Ask Mate</h1></div>
    <div id="display_navbar">
    <a href="{{ url_for("route_index") }}">Back to home page</a>
    <a href="{{ url_for("route_new_answer", question_id=question_id) }}">Add new answer</a>
    <a href="{{ url_for("route_edit_question", question_id=question_id) }}">Edit question</a>
    <a href="{{ url_for("delete_question", question_id=question_id)}}" method="get">Delete question</a>
</div>
    </div>
<div>
    <table>
        <tr>
            <td colspan="3">{{ question[0]['title'] }}</td>
        </tr>
        <tr>
            <td colspan="2">views: {{question[0]['view_number']}} </td>
            <td rowspan="3">{{ question[0]['message'] }} {{question['image']}} </td>
        </tr>
        <tr>
            <td rowspan="2">votes: {{ question[0]['vote_number'] }}</td>
            <td><a href="{{ url_for('addvote_question', question_id=question_id) }}"><input type="submit" value="^"></a></td>
        </tr>
        <tr>
            <td>down</td>
        </tr>
    </table>
</div>
</body>
</html>
