<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Question Page</title>
</head>
<body>
    <a href="{{ url_for("route_index") }}">Back to home page</a>
    <a href="{{ url_for("route_new_answer", question_id=question_id) }}">Add new answer</a>
    <table>
            <tr>
                <th>
                    {{ question['title'] }}
                    <form action="/question/{{ question_id }}" method="post">
                        <button type="submit" id="question">Up vote</button>
                    </form>
                </th>
            </tr>
            <tr>
                <td>{{ question['vote_number'] }}</td>
                <td rowspan="2">{{ question['message'] }} {{question['image']}} </td>
            </tr>
            <tr>
                <td> {{question['view_number']}} </td>
            </tr>
            {% for answer in answers %}
            <tr>
                <td>{{ answer['message'] }}</td>
            </tr>
            <tr>
                <td>{{ answer['image'] }}</td>
            </tr>
            {% endfor %}
    </table>
</body>
</html>