
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Answer</title>
    <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
</head>
<body>
        <div class="add_qora">
            <div class="titlerow">
                <h1>edit comment</h1>
            </div>
            <div class="qaform">
                 <form action="/comment/{{ comment_id }}/edit" method="post">
                     <div>
                         <label id="add_message">Message:</label><br>
                         <textarea name="message" id="add_message" cols="40" rows="4">{{ original_comment[0]['message'] }}</textarea>
                     </div>
                     <div class="buttons">
                         <div class="leftbtn"><button class="addbutton" type="submit">Update comment</button></div>
                        <div class="rightbtn"><a class="addbutton cancelbtn" href="{{ url_for('route_question', question_id=question_id) }}">Cancel</a></div>
                     </div>
                 </form>
            </div>
        </div>
</body>
</html>