<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate</title>
    <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
</head>
<body>
    <h1><strong>Ask Mate</strong></h1>

<div class="navbar">
    <a href="{{ url_for("route_add_question") }}">Add new question</a>
  <div class="dropdown">
    <button class="dropbtn">Sort By</button>
    <div class="dropdown-content">
      <a href="{{ url_for("route_index", sort_criteria='submission_time')}}">submission time</a>
      <a href="{{ url_for("route_index", sort_criteria='title')}}">title</a>
      <a href="{{ url_for("route_index", sort_criteria='message')}}">message</a>
      <a href="{{ url_for("route_index", sort_criteria='vote_number')}}">votes</a>
      <a href="{{ url_for("route_index", sort_criteria='view_number')}}">views</a>
    </div>
  </div>
</div>
        <p>
    <div class="content">
    <table>
        <tr height="40px">
            <th width="10%">View Number</th>
            <th width="10%">Vote Number</th>
            <th id="tabletitlecell" width="30%">Title</th>
            <th width="40%">Message</th>
            <th>Image</th>

        </tr>
        {% for question in questions %}
            <div class="data">
            <tr class="messsage" height="30">
                <td>{{ question['view_number'] }}</td>
                <td>{{ question['vote_number'] }}</td>
                <td>
                    <a href="{{ url_for("route_question", question_id=question['id'])}}"> {{ question['title'] }}</a>
                </td>
                <td>{{ question['message'] }}</td>
                <td>{{ question['image'] }}</td>
            </tr>
            </div>
        {% endfor %}
    </table>
</div>

</body>
</html>