<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate</title>
    <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
</head>
<body>
    <h1><strong>Ask Mate</strong></h1>

<div class="navbar">
    <a href="{{ url_for("route_add_question") }}">Add new question</a>
  <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
      <a href="{{ url_for("route_index", sort_criteria='submission_time')}}">submission time</a>
      <a href="{{ url_for("route_index", sort_criteria='title')}}">title</a>
      <a href="{{ url_for("route_index", sort_criteria='message')}}">message</a>
      <a href="{{ url_for("route_index", sort_criteria='vote_number')}}">votes</a>
      <a href="{{ url_for("route_index", sort_criteria='view_number')}}">views</a>
    </div>
  </div>
</div>
        <p>
    <table>
        <tr>
            <th>View Number</th>
            <th>Vote Number</th>
            <th>Title</th>
            <th>Message</th>
            <th>Image</th>

        </tr>
        {% for question in questions %}
            <tr>
                <td>{{ question['view_number'] }}</td>
                <td>{{ question['vote_number'] }}</td>
                <td>
                    <a href="{{ url_for("route_question", question_id=question['id'])}}"> {{ question['title'] }}</a>
                </td>
                <td>{{ question['message'] }}</td>
                <td>{{ question['image'] }}</td>
            </tr>
        {% endfor %}
    </table>


</body>
</html>