<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate</title>
    <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
</head>
<body id="list_users_pg">
<div id="list_users_header">
    <div id="list_users_logo">AskMate</div>
    <div id="list_users_title">user list</div>
</div>
<div id="list_users_navbar">
    <a class="hoverbtn" id="mainbtn" href="{{ url_for("route_index") }}">Back to home page</a>

    <a id="mainbtn" href="{{ url_for("route_index") }}">back to home page</a>

</div>
<div id="list_users_list">
    {% for user in user_list %}
    <div class="list_users_bubble">
        <div>{{ user['user_name'] }}</div>
        <div>{{ user['reputation'] }}</div>
        <div>{{ user['count'] }}</div>
        <div>{{ user['sum'] }}</div>
    </div>
    {% endfor %}
</div>
</body>
</html>