<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate</title>
    <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
</head>
<body id="list_users_pg">
<div id="list_users_header">
    <div id="list_users_logo">AskMate</div>
    <div id="list_users_title">user list</div>
</div>
<div id="list_users_navbar">
    <a id="mainbtn">back to home page</a>
    <div id="mainbtn">some button</div>
    <div id="mainbtn">some button</div>
    <div id="mainbtn">some button</div>
</div>
<div id="list_users_list">
    <div class="list_users_bubble">
        <div>username</div>
        <div>reputation</div>
        <div>questions</div>
        <div>anwers</div>
    </div>
    <div class="list_users_bubble">
        <div>username</div>
        <div>reputation</div>
        <div>questions</div>
        <div>anwers</div>
    </div>
    <div class="list_users_bubble">
        <div>username</div>
        <div>reputation</div>
        <div>questions</div>
        <div>anwers</div>
    </div>
    <div class="list_users_bubble">
        <div>username</div>
        <div>reputation</div>
        <div>questions</div>
        <div>anwers</div>
    </div>
</div>
</body>
</html>