<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
</head>
<div>
    <h1><strong>Ask Mate</strong></h1>
<div id="display_navbar2">
    <a href="{{ url_for("route_index") }}">Back to home page</a>
</div>
    <p>Search results for: {{ q }}</p>

    {% for question in search_result %}
        {% if search_result !=empty_list and search_result_message==empty_list%}
            <p>Search result found in question title:</p>
            <div class="display_question_bubble">
            <table>
                <tr>
                    <td><a href="{{ url_for("route_question", question_id=question['id']) }}"> {{ question['title'] }}</a></td>
                </tr>
                <tr>
            <td>{{ question['message'] }}</td>
                </tr>
            </table>
            </div>
        {% endif %}
    {% endfor %}

    {% for question in search_result_answer %}
        {% if search_result_answer !=empty_list %}
            <p>Search result found in answer:</p>
            <div>
            <table>
                <tr>
                    <td><strong><a href="{{ url_for("route_question", question_id=question['id']) }}"> {{ question['title'] }}</a></strong></td>
                </tr>
                <tr>
            <td class="display_answers_bubble">{{ question['message'] }}</td>
                </tr>
            </table>
            </div>
        {% endif %}
    {% endfor %}

    {% for question in search_result_message %}
        {% if search_result_message !=empty_list and search_result==empty_list %}
            <p>Search result found in question message:</p>
            <div class="display_question_bubble">
            <table>
                <tr>
                    <td><strong><a href="{{ url_for("route_question", question_id=question['id']) }}"> {{ question['title'] }}</a></strong></td>
                </tr>
                <tr>
            <td>{{ question['message'] }}</td>
                </tr>
            </table>
            </div>
        {% endif %}
    {% endfor %}


        {% if search_result_message!=empty_list and search_result!=empty_list %}
            <div class="single-bubble">
            <p>Search result found in title and message:</p>
            </div>
            <div class="display_question_bubble">
            <table>
                <tr>
            <td><strong><a href="{{ url_for("route_question", question_id=search_result[0]['id']) }}"> {{ search_result[0]['title'] }}</a></strong></td>
                </tr>
                <tr>
            <td>{{ search_result[0]['message'] }}</td>
                </tr>
            </table>
            </div>
        {% endif %}

        {% if search_result_message==empty_list and search_result==empty_list and search_result_answer==empty_list %}
            <p><strong>No results</strong></p>
        {% endif %}
</body>
</html>