<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
</head>
<body>
    <h1><strong>Ask Mate</strong></h1>
<div id="display_navbar2">
    <a href="{{ url_for("route_index") }}">Back to home page</a>
</div>
    <p>Search results for: {{ q }}</p>
    <h2>{{ search_result[0]['title'] }}</h2>
    <h3>{{ search_result[0]['message'] }}</h3>

</body>
</html>