<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% if kerdes[0]['accepted'] == 1 %}
                {% if 'user_id' in session %}
                        <td class="table-btn" rowspan="2"><a href="{{ url_for('accept_answer', answer_id=kerdes[0]['id']) }}" class="disp_accepted">Accepted</a></td>
                {% else %}
                        <td class="table-btn" rowspan="2"><a href="{{ url_for('accept_answer', answer_id=kerdes[0]['id']) }}" class="disp_accepted">Accepted</a></td>
            {% else %}
                       <td class="table-btn" rowspan="2"><a href="{{ url_for('accept_answer', answer_id=kerdes[0]['id']) }}" class="disp_btn">Accept</a></td>
            {% endif %}
                        <td class="table-btn" rowspan="2"><a href="{{ url_for('addcomment_answer', answer_id=kerdes[0]['id']) }}" class="disp_btn">Comment</a></td>
                        <td class="table-btn" rowspan="2"><a href="{{ url_for('delete_answer', answer_id=kerdes[0]['id']) }}" class="disp_btn">Delete</a></td>



    {% if 'user_id' in session %}
        {% if kerdes[0]['accepted'] == 1 %}
             <td class="table-btn" rowspan="2"><a href="{{ url_for('accept_answer', answer_id=kerdes[0]['id']) }}" class="disp_accepted">Accepted</a></td>
        {% else %}
            <td class="table-btn" rowspan="2"><a href="{{ url_for('accept_answer', answer_id=kerdes[0]['id']) }}" class="disp_btn">Accept</a></td>
        {% endif %}
    {% else %}
        {% if kerdes[0]['accepted'] == 1 %}
            <td class="table-btn" rowspan="2"><a href="{{ url_for('accept_answer', answer_id=kerdes[0]['id']) }}" class="disp_accepted">Accepted</a></td>
        {% else %}
            <td class="table-btn" rowspan="2"><a href="{{ url_for('accept_answer', answer_id=kerdes[0]['id']) }}" class="disp_hide">Accepted</a></td>
        {% endif %}
    {% endif %}
</body>
</html>