<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
</head>
<body>
    <div class="display_all_body">

        <div class="display_header">
            <div class="logomate up_title"><h1>My Page</h1></div>
        <div id="display_navbar">
            <a class="hoverbtn" id="mainbtn" href="{{ url_for("route_index") }}">Back to home page</a>
            <a class="hoverbtn" id="mainbtn" href="{{ url_for("route_list_all_user") }}">List all users</a>
        </div>
        </div>
    <div class="user_question">
        <h2>My questions:</h2>
        {% for question in questions %}
            <div class="display_question_bubble">
            <table class="tabless">
                <tr>
                    <td colspan="3" id="question_title_size"><a class="searchtitle icon-down" href="{{ url_for("route_question", question_id=question['id']) }}"> {{ question.title }}</a></td>
                </tr>
                <tr>
                    <td class="disp_first_col">views:{{ question.view_number }}</td>
                    <td rowspan="2">{{ question.message }}</td>
                </tr>
                <tr>
                    <td class="disp_vote_cell">votes:{{ question.vote_number }}</td>
                    <td rowspan="2" align="right">answers: num</td>
                </tr>
            </table>
            </div>

        {% endfor %}
        <h2>My answers:</h2>
        {% for answer in answers %}
            <div class="display_question_bubble">
            <table class="tabless">
                <tr>
                    <td class="disp_vote_cell" rowspan="3">{{ answer.vote_number }}</td>
                    <td rowspan="2">{{ answer.ans }}</td>

                     {% if answer['accepted'] == 1 %}
                        <td class="disp_accepted" align="right">accepted</td>

                {% endif %}
                </tr>
                <tr>

                </tr>
                <tr>
                    <td align="right" colspan="2">Go to question: <a class="icon-down searchtitle" href="{{ url_for("route_question", question_id=answer['id']) }}">{{ answer.title }}</a> </td>
                </tr>
            </table>
            </div>
        {% endfor %}
        <h2>My comments:</h2>
        {% for comment in comments %}
            <div class="display_question_bubble">
            <table class="tabless">
                <tr>
                    <td>{{ comment.com }}</td>

                </tr>
                <tr>
                    <td align="right">Go to question: <a class="searchtitle icon-down" href="{{ url_for("route_question", question_id=comment['id']) }}"> {{ comment.title }}</a></td>
                </tr>
            </table>
            </div>
        {% endfor %}
    </div>

    </div>


</body>
</html>